<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />
    <!-- Permission for camera -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Pharmacist.Pharmacist_UpdateInfo"
            android:exported="true" />
        <activity
            android:name=".Patient.Patient_UpdateInfo"
            android:exported="true" />
        <activity
            android:name=".Doctor.Doctor_UpdateInfo"
            android:exported="true" />
        <activity
            android:name=".DoctorUpdatePresc"
            android:exported="true" />
        <activity
            android:name=".Doctor.Doctor_ViewUpdatePresc"
            android:exported="true" />
        <activity
            android:name=".Admin.Admin_UpdateInfo"
            android:exported="true" />
        <activity
            android:name=".Pharmacist.Pharmacist_PrescData"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Admin.Admin_ChangePassword"
            android:exported="true" />
        <activity
            android:name=".Admin.Admin_ViewProfile"
            android:exported="true" />
        <activity
            android:name=".Doctor.Doctor_ViewProfile"
            android:exported="true" />
        <activity
            android:name=".Doctor.Doctor_AssignMedicine"
            android:exported="true" />
        <activity
            android:name=".Pharmacist.Pharmacist_ViewProfile"
            android:exported="true" />
        <activity
            android:name=".Pharmacist.Pharmacist_ViewUserPresc"
            android:exported="true" />
        <activity
            android:name=".Patient.Patient_QRcode"
            android:exported="true" />
        <activity
            android:name=".Patient.Patient_ViewPrescription"
            android:exported="true" />
        <activity
            android:name=".Patient.Patient_ViewProfile"
            android:exported="true" />
        <activity
            android:name=".Patient.Patient_Main"
            android:exported="true" />
        <activity
            android:name=".Admin.Admin_ViewUser"
            android:exported="true" />
        <activity
            android:name=".Admin.Admin_DeleteUser"
            android:exported="true" />
        <activity
            android:name=".Admin.Admin_AddUser"
            android:exported="true" />
        <activity
            android:name=".Admin.Admin_Main"
            android:exported="true" />
        <activity
            android:name=".Doctor.Doctor_Main"
            android:exported="true" />
        <activity
            android:name=".Pharmacist.Pharmacist_Main"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>